In [0]:
USE CATALOG databricks_training;

In [0]:
-- create schema if not exists demo;
use schema demo;

In [0]:
-- create table if not exists demo.employee (emp_id int, emp_name varchar(100),dep_id int);
insert into demo.employee values (1,'John',1),(2,'Green',2),(3,'Ben',3),(4,'Quinn',1),(5,'Cherry',2),(6,'Berry',3),(7,'Apple',1),(8,'Custard',2),(9,'Crimson',3)

In [0]:
select * from demo.employee

In [0]:
Create table depatment(dep_id int, dep_name varchar(100), manager_id int) using delta;

In [0]:
insert into department values (1,'HR',1),(2,'IT',2),(3,'Sales',3);

In [0]:
USE CATALOG databricks_training;
USE SCHEMA demo;
CREATE OR REPLACE Table Employees
(
  emp_id INT,
  emp_name STRING,
  dep_id INT,
PRIMARY KEY (emp_id)
)
USING DELTA
;

In [0]:
CREATE OR REPLACE TABLE Departments
(
  dep_id int,
  dep_name STRING,
  manager_id INT,
PRIMARY KEY (dep_id)
)
USING DELTA
;

In [0]:
INSERT INTO Employees
VALUES
(1,'John',1),
(2,'Green',2),
(3,'Ben',3),
(4,'Quinn',1),
(5,'Cherry',2),
(6,'Berry',3),
(7,'Apple',1),
(8,'Custard',2),
(9,'Crimson',3)
;

In [0]:
INSERT INTO Departments
VALUES
(1,'HR',1),
(2,'IT',2),
(3,'Sales',3)
;

In [0]:
-- Select * from employees;
Select * from departments;

In [0]:
SELECT * FROM samples.nyctaxi.trips LIMIT 10